.ContactData{
    display: block;
    width: 80%;
    padding: 20px;
    margin: auto;
    box-shadow: 2px 3px 1px #ccc;
    border: 1px honeydew;
    box-sizing: border-box;
   
}


.Input{
    display: block;
    width: 80%;
    padding: 10px;
    margin: auto;
    margin-top: 1px;

}

@media(min-widht:600px){
    .ContactData{
        width: 500px;
    }
}