.Auth{
    display: block;
    width: 80%;
    padding: 20px;
    margin: auto;
    box-shadow: 2px 3px #ccc;
   border-style: solid;
   border-width: thin;
   border-color:#cccc;
   box-sizing: border-box;
   
}


@media(min-widht:600px){
    .Auth{
        width: 500px;
    }
}